@media (max-width: 768px) {
  header, main, .footer, .container, .grid, .grid-container, .grid-item, .grid-item-alpha {
    flex: 1 100%;
  }
}

a:link {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #78C6FE;
}

ul {
  list-style: none;
}

footer {
  max-height: 50px;
  background-color: black;
  color: white;
}

header {
  max-height: 50px;
}

.container {
  display: -webkit-flex;
  width: 100%;
  display: flex;
  -webkit-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.carousel .carousel-inner img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  overflow: hidden;
}

main {
  flex: 1;
}

view {
  flex: 1;
}

nav {
  order: -1;
}

nav, aside {
  /*background-color: lightgrey;*/
}

.swatch {
  margin: 5px;
  /*justify-content: center;*/
  /*text-align: center;*/
  border: 1px solid #fff;
  padding: 5px 15px 5px 15px;
  background-color: plum;
  border-radius: 5px;
  width: 175px;
  height: auto;
}

.color-block {
  /*justify-content: center;*/
  /*margin:5px;*/
  /*padding: 5px;*/
  /*border: 1px solid #fff;*/
  /*padding: 16px 15px 13.5px 19px;*/
  /*background-color: #FF87C4;*/
  /*-webkit-flex: 1 0 300px;*/
  flex: -1;
  width: 145px;
}

img{
  flex: 2;
}

a:visited {
    color: white;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
}

.grid-item {
  border: 1px solid #fff;
  padding: 16px 15px 13.5px 19px;
  background-color: #9451E5;
  -webkit-flex: 1 0 300px;
  flex: 1 0 300px;
}

.aside-item {
  border: 1px solid #fff;
  padding: 16px 15px 13.5px 19px;
  background-color: #9CE289;
  /*-webkit-flex: 1 0 300px;*/
  /*flex: 1 0 300px;*/
  width: 100%;
}

.grid-product {
  justify-content: center;
  margin:5px;
  padding: 5px;
  /*border: 1px solid #fff;*/
  /*padding: 16px 15px 13.5px 19px;*/
  /*background-color: #FF87C4;*/
  /*-webkit-flex: 1 0 300px;
  /*flex: 1 0 */
}





nav div.grid-item {
  background-color: #FFBC89;
  width: auto;
}


/*small devices, tablets over 768px*/

@media (min-width: 768px) {
  body {
    /*background-color: white;*/
  }
  .container {
    flex: 1;
  }
  .grid-item {
    padding: 30px;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
  }
  nav, aside {
    flex: 0 0 12em;
  }
  .carousel .carousel-inner img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    overflow: hidden;
  }
  .grid-container {
    display: flex;
  }
  .grid-item {
    border: 1px solid #fff;
    background-color: #9451E5;
  }
  /*end of @media*/
}


/* Medium Devices, Desktops */

@media (min-width: 992px) {
  body {
    background-color: #78C6FE;
  }

  /*end of @media*/
}

.color-grid {
  flex-direction: row;
}

/* Large Devices, Wide Screens */

@media (min-width: 1200px) {
  body {
    background-color: #78C6FE;
  }
  .nav {
    order: 1;
  }
  .main {
    order: 2;
  }
  .view {
    order: 2;
  }
  .aside {
    order: 3;
  }
  .footer {
    order: 4;
  }
}


/*the following code is being used for testing and may be deleted*/

img {
  height: auto;
  width: 145px;
}
