
<view class="grid-container">
  <div class="grid">
    <div class="grid-item grid-item-alpha">
      <h3>Foundation</h3>
    </div>
    <div class="grid-item">
      <h3>Concealer</h3>
    </div>
    <div class="grid-item">
      <h4>Highlighter/<br>Bronzer/<br>Blush</h4>
    </div>
    <div class="grid-item">
      <h3>Eye Shadow</h3>
    </div>
    <div class="grid-item">
      <h3>Eye Liner</h3>
    </div>
    <div class="grid-item">
      <h3>Mascara</h3>
    </div>
    <div class="grid-item">
      <h3>Tools</h3>
    </div>
  </div>

  <!-- swatches -->
  <!-- <div class="swatch" ng-repeat="swatch in ctrl.swatches track by $index">
    <h4>{{swatch.product}}</h4>
    <a href="{{swatch.imageLink}}" target="_blank"><img src="{{swatch.imageLink}}" alt=""></a>
    <small ng-click="ctrl.deleteSwatch(swatch)">delete</small>
    <div class="color-block">
      <div ng-if="swatch.colors.vibrant.isSkin == false" ng-style="{'background-color': swatch.colors.vibrant.rgb[0]}">Vibrant: {{swatch.colors.vibrant[0]}}</div>
      <div ng-if="swatch.colors.lightVibrant.isSkin == false" ng-style="{'background-color': swatch.colors.lightVibrant.rgb[0]}">LightVibrant: {{swatch.colors.lightVibrant[0]}}</div>
      <div ng-if="swatch.colors.darkVibrant.isSkin == false" ng-style="{'background-color': swatch.colors.darkVibrant.rgb[0]}">darkVibrant: {{swatch.colors.darkVibrant[0]}}</div>
      <div ng-if="swatch.colors.muted.isSkin == false" ng-style="{'background-color': swatch.colors.muted.rgb[0]}">muted: {{swatch.colors.muted[0]}}</div>
      <div ng-if="swatch.colors.lightMuted.isSkin == false" ng-style="{'background-color': swatch.colors.lightMuted.rgb[0]}">lightmuted: {{swatch.colors.lightMuted[0]}}</div>
      <div ng-if="swatch.colors.darkMuted.isSkin == false" ng-style="{'background-color': swatch.colors.darkMuted.rgb[0]}">darkMuted: {{swatch.colors.darkMuted[0]}}</div>
    </div>
  </div> -->
</view>
