
<view class="grid-container">
  <div class="grid">
    <div class="grid-item grid-item-alpha">
      <h3>Foundation</h3>
    </div>
    <div class="grid-item">
      <h3>Concealer</h3>
    </div>
    <div class="grid-item">
      <h4>Highlighter/<br>Bronzer/<br>Blush</h4>
    </div>
    <div class="grid-item">
      <h3>Eye Shadow</h3>
    </div>
    <div class="grid-item">
      <h3>Eye Liner</h3>
    </div>
    <div class="grid-item">
      <h3>Mascara</h3>
    </div>
    <div class="grid-item">
      <h3>Tools</h3>
    </div>
  </div>  
</view>
