
<view class="grid-container">
  <div class="grid">
    <div class="grid-item"
            ng-mouseover="hoverActive1=true"
            ng-mouseleave="hoverActive1=false"
            ng-style="hoverActive1 ? {'background-color': '#D989D9'} : {}">
      <a ui-sref="foundation"><h3>Foundation</h3></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive2=true"
            ng-mouseleave="hoverActive2=false"
            ng-style="hoverActive2 ? {'background-color': '#9DFFEC'} : {}">
      <a ui-sref="concealer"><h3>Concealer</h3></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive3=true"
            ng-mouseleave="hoverActive3=false"
            ng-style="hoverActive3 ? {'background-color': '#FFC49D'} : {}">
      <a ui-sref="highlighter-bronzer-blush">
      <h4>Highlighter/<br>Bronzer/<br>Blush</h4></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive4=true"
            ng-mouseleave="hoverActive4=false"
            ng-style="hoverActive4 ? {'background-color': '#FFF39D'} : {}">
      <a ui-sref="eye-shadow">
      <h3>Eye Shadow</h3></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive5=true"
            ng-mouseleave="hoverActive5=false"
            ng-style="hoverActive5 ? {'background-color': '#AAB4F6'} : {}">
      <a ui-sref="eye-liner">
      <h3>Eye Liner</h3></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive6=true"
            ng-mouseleave="hoverActive6=false"
            ng-style="hoverActive6 ? {'background-color': '#9DFFEC'} : {}">
      <a ui-sref="mascara"><h3>Mascara</h3></a>
    </div>
    <div class="grid-item"
            ng-mouseover="hoverActive7=true"
            ng-mouseleave="hoverActive7=false"
            ng-style="hoverActive7 ? {'background-color': '#A3E3FB'} : {}">
      <a ui-sref="tools">
      <h3>Tools</h3></a>
    </div>
  </div>
</view>
