<div class="grid-item" ng-mouseover="hoverActive12=true" ng-mouseleave="hoverActive12=false" ng-style="hoverActive12 ? {'background-color': '#7992CF'} : {}">
  <h4 ng-click="toggle_form = !toggle_form">Submit New Product</h4>
  <form name="newProductForm" ng-show="toggle_form" ng-submit="ctrl.processForm()">
    <input type="text" ng-model="ctrl.formdata.brand" placeholder="brand" />
    <input type="text" ng-model="ctrl.formdata.name" placeholder="name" />
    <input type="text" ng-model="ctrl.formdata.image_link" placeholder="image link" />
    <input type="text" ng-model="ctrl.formdata.description" placeholder="description" />
    <input type="text" ng-model="ctrl.formdata.product_type" placeholder="product type" /> </select>
    <input type="text" ng-model="ctrl.formdata.product_colors" placeholder="product colors" />
    <button class="btn btn-primary btn-sm" type="submit" /> Submit </button>
  </form>
</div>

<div class="grid-item" ng-mouseover="hoverActive13=true" ng-mouseleave="hoverActive13=false"
ng-style="hoverActive13 ? {'background-color': '#7992CF'} : {}">
  <h4 ng-click="toggle_form1 = !toggle_form1">Submit New Swatch</h4>
  <form ng-show="toggle_form1" ng-submit="ctrl.processSwatch()">
    <select ng-model="ctrl.formdata.productId" ng-options="product._id as product.name for product in ctrl.products">
      </select>
    <input type="text" ng-model="ctrl.formdata.imageLink" placeholder="image" />
    <input type="text" ng-model="ctrl.formdata.skinTone" placeholder="skin tone" />
    <!-- <div ng-controller="AppController">
      <input type="file" nv-file-select="" uploader="uploader" /><br/>
      <ul>
        <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </li>
      </ul>
    </div> -->
    <button class="btn btn-primary btn-sm" type="submit" /> Submit </button>
  </form>
</div>
