<!-- product -->
<div class="grid">
  <!-- <button ng-click="ctrl.getProduct(ctrl.activeProduct)" type="button" name="button">get product</button> -->
  <div class="grid-container" ng-init="ctrl.getProduct(ctrl.activeProduct)">
    <div class="grid-product">
  <ul>
    <li>{{ctrl.product.brand}}</li>
    <li>{{ctrl.product.name}}</li>
    <li>{{ctrl.product.product_type}}</li>
  </ul>

    </div>
    <div class="grid-product">
      {{ctrl.product.description}}
  </div>

<div class="grid-product">
  <img src="{{ctrl.product.image_link}}" alt="">
</div>
</div>
